.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 8px;
  padding: 10px;
  background-color: transparent;
}

.keyboard button {
  color: #2c3e50;
  background-color: #ecf0f1;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s; /* Płynne zmiany */
  outline: none;
}

.keyboard button.correct {
  background-color: #4caf50;
  color: white;
  border: 2px solid #388e3c;
}

.keyboard button.incorrect {
  background-color: #f44336;
  color: white;
  border: 2px solid #c62828;
}

.keyboard button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #bdc3c7;
}

.keyboard button:hover {
  background-color: #d5dbdb;
  transform: translateY(-2px);
}

.keyboard button:active {
  transform: translateY(1px);
}

@media (max-width: 320px) {
  .keyboard button {
    width: 30px;
    font-size: 0.8rem;
    padding: 6px 8px;
  }

  .keyboard {
    gap: 5px;
  }
}

@media (max-width: 600px) {
  .keyboard button {
    padding: 8px 10px;
    width: 34px;
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .keyboard button {
    padding: 10px 12px;
    width: 38px;
    font-size: 1rem;
  }
}
